.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
    
}
.place-order-left{
    width: 100%;
    max-width: max(30%, 500px);
}
.place-order-left .title{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    margin-bottom: 50px;
    color: rgba(0, 0, 0, 0.795);
}
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid white ;
    outline-color: tomato;
}
.place-order-left .multy-fields{
    display: flex;
    width: 100%;
}
.place-order-right{
    max-width: 100%;
    max-width: max(30%, 500px);
    
    
}