.food-item{
    width: 100%;
    margin: 6px auto;
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.055);
    animation: fadeIn 2s;
    border-radius: 15px;
}

.food-item-image{
    border-radius: 15px 15px 0 0;
    width: 100%;

}
.food-item-info{
    padding: 20px;
}

.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: 22px;
    font-weight: 600;
    color: rgba(7, 16, 97, 0.705);
    font-family: 'Baloo Tammudu 2', cursive;

}
.food-item-name-rating img{
    width: 70px;
}
.food-item-desc{
    font-size: 15px;
    color: rgba(96, 96, 102, 0.808);
    font-family: 'Mirza', cursive;
}
.food-item-price{
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    color:rgba(255, 99, 71, 0.733);
    
    margin: 10px 0;
}
.food-item-img-container{
    position: relative;
}

.food-item-img-container .add{
position: absolute;
left: 200px;
top: 220px;
width: 35px;
cursor: pointer;
}
.food-item-counter{
    position: absolute;
    left: 130px;
    top: 200px;
    display: flex;
    flex-direction: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
}

.food-item-counter p{
    color: #000000;
    padding: 0 8px;
    font-weight: 600;
}
.food-item-counter{
    background-color: antiquewhite;
    border-radius: 16px;
    width: 108px;
}

