.food-item{
    width: 100%;
    margin: 6px auto;
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.055);
    animation: fadeIn 2s;
    border-radius: 15px;
}

.food-item-image{
    border-radius: 15px 15px 0 0;
    width: 100%;

}
.food-item-info{
    padding: 20px;
}

.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: 22px;
    font-weight: 600;
    color: rgba(7, 16, 97, 0.705);
    font-family: 'Baloo Tammudu 2', cursive;

}
.food-item-name-rating img{
    width: 70px;
}
.food-item-desc{
    font-size: 15px;
    color: rgba(96, 96, 102, 0.808);
    font-family: 'Mirza', cursive;
}
.food-item-price{
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    color:rgba(255, 99, 71, 0.733);
    
    margin: 10px 0;
}
.food-item-img-container{
    position: relative;
}

.food-item-img-container .add{
    position: absolute;
    right: 2%;
    bottom: 5%;
    width: 50px;
    cursor: pointer;
}
.food-item-counter{
    position: absolute;
    right: 5%;
    bottom: 5%;
    display: flex;
    flex-direction: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
}

.food-item-counter p{
    color: #000000;
    padding: 0 8px;
    font-weight: 600;
}
.food-item-counter{
    background-color: rgba(255, 99, 71, 0.548);
    border-radius: 16px;
    width: 94px;
}

.item-added-notification {
    position: fixed;
    top: 20px; /* Adjust the top position */
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Initially hidden */
    animation: fadeInOut 2s forwards; /* Apply the animation */
  }
  
  /* Keyframes for fade-in and fade-out effect */
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(-20px); /* Starts from slightly above */
    }
    20% {
      opacity: 1; /* Fully visible */
      transform: translateX(-50%) translateY(0); /* Normal position */
    }
    80% {
      opacity: 1; /* Stays fully visible */
      transform: translateX(-50%) translateY(0); /* Stays in place */
    }
    100% {
      opacity: 0; /* Fades out */
      transform: translateX(-50%) translateY(20px); /* Moves down slightly */
    }
  }
  
  