.add{
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    background-color: rgba(33, 0, 223, 0.055)
}
.add form{
    gap: 20px;
}
.add-img-upload img{
    width: 120px;
}
.add-product-name,.add-product-description{
    width: max(40%, 280px);
}
.add-product-name input,.add-product-description textarea{
    padding: 10px;
}
.add-category-price{
    display: flex;
    gap: 30px; 
    align-items: center;
}
.add-category-price select, .add-category-price input{
    max-width: 120px;
    padding: 10px;
}
.add-category-price select{
    margin-top: -18px;
}
.add button{
    cursor: pointer;
    max-width: 120px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.712);
    color: aliceblue;
    border: none;
    border-radius: 20px;

}
.add button:hover{
    background-color: black;
    max-width: 130px;
    transition: 0.5s;

}