.myorders{
    margin: 50px 0px;
}
.myorders >container{
    display:flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.my-orders-order{
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr 1fr 2fr 1fr;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    padding: 10px 20px;
    color: rgb(72, 6, 72);
    border: 1px solid;
}
.my-orders-order img{
    width: 55px;

}
.my-orders-order p span{
    color: tomato;
}

.my-orders-order p, b{
    font-weight: 500;
    color: rgb(71, 4, 71);
}
.my-orders-order button{
    border: none;
    padding: 12px 0px;
    border-radius: 4px;
    background-color: rgba(101, 77, 46, 0.829);
    cursor: pointer;
    color: rgba(221, 116, 221, 0.663);
}
.my-orders-order button:hover{
    font-size: 10px;
    background-color: rgb(101, 77, 46);
    font-weight: 600;

}
@media (max-width: 768px) {
    .my-orders-order{
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 10px;

    }
    .my-orders-order button{
        font-size: 10px;

    }
    
}