body{
    margin: 0%;
}
.App{
    width: 85%;
    margin: auto;
}


.marquee {
  background-color: tomato;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee p {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  font-family: 'Arial', sans-serif;
  animation: scroll 20s linear infinite, blink 3s ease-in-out infinite;
}


.green-link {
  color: green;
  font-weight: bold;
  text-decoration: none;
}


/* Paused state */
.marquee.paused p {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}
