.explore-menu{
    display: flex;
    flex-direction: column;
    min-height: 100px;

} 
.explore-menu hr{
    height: 2px;
    background-color: rgba(43, 8, 141, 0.322);
    margin: 2px 0;
    width: 100%;
}
.explore-menu h1,p{
    padding: 0;
    margin: 0;
}
.explore-menu h1{
    color: rgba(255, 99, 71, 0.774);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 38px;
    margin-top: 15px;
    
}
.explore-menu-list{
    display: flex;
    justify-content: space-between;
   
    gap: 25px;
    margin: 20px 0;
    align-items: center;

    height: 200px;
    overflow-x: scroll;
   
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list-item img{
    cursor: pointer;
    width: 10vw;
    min-width: 80px;
    border-radius: 50%;

   
}
.explore-menu-list-item p{
    cursor: pointer;
    margin-top: 5px;
    font-size: 1.85vw;
    width: 10vw;
    min-width: 80px;
    border-radius: 50%;
    color: tomato;

    font-weight: bold;
   text-align: center;
   font-weight: 500;
  

   
   
}
.explore-menu-list-item .active{
    border: 2px solid tomato;
    padding: 2px;
    
}
@media (max-width: 700px) {
    
    .explore-menu h1{
        
    
       font-size: 30px;
        
    }
    .explore-menu-list-item p{
        font-size: 15.15px;
    }
}