.food-display{
    margin-top: 30px;


}
.food-display-list{
    display: grid;
  grid-template-columns: repeat(auto-fill,minmax(240px,1fr)); /* Creates three equal columns */
  grid-template-rows: auto; /* Rows will adjust based on content */
gap: 10px;
}

.header1{
  color: rgba(255, 99, 71, 0.753);
  font-family: 'Rowdies', cursive;
  margin: 25px 0;
  font-size: 18px;
  font-weight: bold;
 
}